ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: flex-start;  /* アイテムを上揃え */
    margin-bottom: 15px;  /* 行間を少なくする */
}

img {
    max-width: 100%;  /* 画像が画面サイズを超えないように調整 */
    height: auto;
}

.information {
    text-align: left;  /* テキストを左揃え */
    margin-bottom: 40px;  /* セクション間のスペースを確保 */
}
